/* Reset Trinh duyet */
* {
  padding: 0;
  margin: 0;
}
.header {
  background-color: #000;
}
.header .wrap-logo {
  display: flex;
  align-items: center;
  height: 100px;
  color: #fff;
}
.header .menu-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
}
.header .menu-main li {
  list-style: none;
  color: #fff;
  font-size: 26px;
  margin: 0 16px;
}

.bg-menu-mobile {
  display: none;
}

/* Responsive */
@media screen and (max-width: 1200px) {
  .header .menu-main li {
    font-size: 14px;
    max-width: 0 12px;
  }
}
@media screen and (max-width: 990px) {
  .header .menu-main.menu-desktop {
    display: none;
  }
  /* Menu-mobile */
  .wrap-menu-mobile {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  .menu-mobile div {
    width: 20px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-bottom: 6px;
  }
  /* popup-menu-mobile */
  .bg-menu-mobile {
    display: block;
  }
  .bg-menu-mobile {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000087;
    top: 0;
    left: -500%;
    z-index: 2;
  }
  .poup-menu-mobile {
    width: 350px;
    height: 100%;
    background: orangered;
  }
}
