/* Reset Browser */
* {
  padding: 0;
  margin: 0;
}


header {
  background-color: #373b69;
  height: 76px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header form {
  margin-right: 20px;
}
header form input {
  border-radius: 25px;
  height: 44px;
  padding: 0 10px;
  border: 2px solid #22254b;
  background-color: transparent;
  min-width: 200px;
  font-size: 15px;
  color: #fff;
}
header form input:focus {
  outline: none;
  background-color: #22254b;
}

/* Style Card */
.main {
  padding-top: 20px;
  background-color: #22254b;
  min-height: 1500px;
}
.main .card {
  border: none;
  background-color: #373b69;
  position: relative;
  overflow: hidden;
  margin-bottom: 25px;
}
.main .card img {
  height: 420px;
  object-fit: cover;
}
.main .card-body {
  display: flex;
  justify-content: space-between;
}
.main .card-body .card-title {
  color: #fff;
}

/* CODE FILL COLOR./START */
.main .card-body .rate {
  background-color: #22254b;
  padding: 5px 10px;
  /* color: green; */
}
.main .card-body .green {
  color: green;
}
.main .card-body .orange {
  color: orange;
}
.main .card-body .red {
  color: red;
}
/* CODE FILL COLOR./END */

.main .card .overviews {
  position: absolute;
  background-color: #fff;
  padding: 25px;
  /* bottom: 0; */
  bottom: -500px;
  transition: .3s;
}
.main .card:hover .overviews {
  bottom: 0;
}

.main .card .overviews p {
  text-align: justify;
}